.custom-scroll {
  --scroll-thumb-background: var(--color-04);
  --scroll-thumb-background-hover: var(--color-05);
  --scroll-bar-background: var(--color-03);
  --scroll-bar-width-firefox: thin;
  --scroll-bar-width-chromium: 8px;
  /* Rules */
  /* -moz- Firefox custom scroll */
  scrollbar-color: var(--scroll-thumb-background) var(--scroll-bar-background);
  scrollbar-width: var(--scroll-bar-width-firefox);
}

/* -webkit- Edge, Chrome, Opera, Safari custom scroll */
.custom-scroll::-webkit-scrollbar {
  background: var(--scroll-bar-background);
  width: var(--scroll-bar-width-chromium);
  height: var(--scroll-bar-width-chromium);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-background);
  border: solid 1px var(--scroll-bar-background);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-background-hover);
}
