h1 {
  font-family: var(--font-family-titles);
  font-weight: var(--font-family-titles-weight);
  line-height: 1em;
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-xxl);
}

p,
li {
  line-height: 1.5em;
}

a {
  --link-color: var(--color-01);
  --link-color-hover: var(--color-03);
  /* Rules */
  outline: 0;
  transition: color var(--transition-1);
}

a,
a:visited {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
}
