.more-info {
  --more-info-background-rgb: var(--color-07-rgb);
  --more-info-text-color: var(--color-02);
  --icon-social-size: var(--font-size-xl);
  --logo-size-tablet: 120px;
  --logo-size-mobile: 68px;
  --logo-size: var(--logo-size-mobile);
  /* Rules */
  border-radius: var(--border-radius-m);
  color: var(--more-info-text-color);
  position: relative;
}

.more-info.box {
  --box-bg: var(--more-info-background-rgb);
  --box-op: var(--opacity-1);
}

.more-info .wrapper-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.more-info .logo-link,
.more-info .logo {
  display: block;
  height: var(--logo-size);
  width: var(--logo-size);
}

.more-info .logo-link {
  margin-bottom: var(--space-size-xs);
}

.more-info hr {
  border: 0;
  border-top: solid var(--border-size-xs) var(--color-01);
  margin: var(--space-size-xs) auto;
}

.more-info p:last-of-type {
  margin-bottom: 0;
}

.more-info a {
  --link-color: var(--color-04);
  --link-color-hover: var(--color-03);
}

.more-info .social-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-info .social-list a,
.more-info .social-list .icon {
  display: block;
  height: var(--icon-social-size);
  width: var(--icon-social-size);
}


@media only screen and (min-width: 541px) {
  .more-info {
    --logo-size: var(--logo-size-tablet);
  }
}
